version: "3.8"
services:
  mongo:
    container_name: mongo
    image: mongo:latest
    env_file:
      - docker.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - 27017:27017
    volumes:
      - /data/mongo:/data/mongo
    networks:
      - mongo

networks:
  mongo:
    driver: bridge
